<div class="container-fluid">

<table class="table table-danger table-hover">
  <thead>
    <tr class="d-flex">
      <th class="col-1">S/No.</th>
      <th class="col-5">Order</th>
      <th class="col-3">Customer</th>
      <th class="col-3">Time Passed</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each_with_index { |order, index| %>
      <tr class="d-flex">
        <td class="col-1"><%= index + 1 %></td>
        <td class="col-5"><%= order.description %></td>
        <td class="col-3"><%= order.name %></td>
        <td class="col-3"><%= time_ago_in_words(order.created_at) %> ago</td>
      </tr>
    <% } %>
  </tbody>
</table>

</div>
<br/>
<div align=center>
  <%= link_to "Back", home_orders_path, class: "btn btn-danger btn-lg" %>
</div>