<table class="table table-danger table-hover">
  <thead>
    <tr class="d-flex">
      <th class="col-1">S/No.</th>
      <th class="col-4">Order</th>
      <th class="col-2">Customer</th>
      <th class="col-2">Time Passed</th>
      <th class="col-1"></th>
      <th class="col-1"></th>
      <th class="col-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each_with_index { |order, index| %>
      <tr class="d-flex">
        <td class="col-1"><%= index + 1 %></td>
        <td class="col-4"><%= order.description %></td>
        <td class="col-2"><%= order.name %></td>
        <td class="col-2"><%= time_ago_in_words(order.created_at) %> ago</td>
        <td class="col-1"><%= link_to 'Edit', edit_order_path(order), class: "btn btn-dark" %></td>
        <td class="col-1"><%= link_to 'Done', order, method: :delete, data: { confirm: 'Food collected?' }, class: "btn btn-dark" %></td>
        <td class="col-1"><%= link_to 'SMS', sms_order_path(order), class: "btn btn-dark" %></td>
      </tr>
    <% } %>
  </tbody>
</table>
<div align="center">
  <%= link_to 'Add Order', new_order_path, class: "btn btn-danger btn-lg" %>
</div>