<table class="table table-danger table-hover">
  <thead>
    <tr>
      <th class="w-5">S/No.</th>
      <th class="w-45">Order</th>
      <th class="w-15">Customer</th>
      <th class="w-15">Time Passed</th>
      <th class="w-5"></th>
      <th class="w-5"></th>
      <th class="w-5"></th>
      <th class="w-5"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each_with_index { |order, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= order.description %></td>
        <td><%= order.name %></td>
        <td><%= time_ago_in_words(order.created_at) %> ago</td>
        <td><%= link_to 'Show', order, class: "btn btn-dark" %></td>
        <td><%= link_to 'Edit', edit_order_path(order), class: "btn btn-dark" %></td>
        <td><%= link_to 'Complete', order, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-dark" %></td>
        <td><%= link_to 'SMS', sms_order_path(order), class: "btn btn-dark" %></td>
      </tr>
    <% } %>
  </tbody>
</table>
<div align="right">
  <%= link_to 'Add Order', new_order_path, class: "btn btn-danger" %>
</div>