<div class="container">
  <h1 class="text-center">
    <% if params[:store] %>
      <%= @user.company_name %>
    <% else %>
      <%= current_user.company_name %>
    <% end %>
  </h1>
  <% if user_signed_in? %>
    <%= render 'vendor' %>
  <% else %>
    <%= render 'patron' %>
  <% end %>
  <br>
  
</div>
<%= javascript_pack_tag 'hello_react' %>
