<!DOCTYPE html>
<html>
  <head>
    <title>Voca</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%#= favicon_link_tag 'icon.png' %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application", media: "all" %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-danger navbar-dark">
      <a class="navbar-brand" href="#">V O C A</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "ORDERS", orders_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'PROFILE', user_path(current_user), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "SIGN IN", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "SIGN UP", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </nav>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
